<title>Home</title>
{% extends 'base.html' %}
{% block body %}
  <div class="container">
        <div class="row">
            <div class="col">
                <h1><b>Dashboard</b></h1> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href = "/videos"><b>View Videos</b></a> - Displays videos fetch via Youtube Data API sorted via Published Date and stores them in a Mongo DB. <br>
                <a href = "/search"><b>Search Videos</b></a> - Performs the search operation on the stored videos and displays most similiar results based on title and description.
            </div>
        </div>
</div>
{% endblock %}