<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video List</title>
</head>
<body>
    {% block body %}
    <div class="container">
        <h2>Video List</h2>
            {% for data in data_list %}
                <div class="row table-row">
                    {% for key in keyset %}
                    <div class="col">{{data[key]}}</div> 
                    {% endfor %}
                </div>
            <br>
            {% endfor %}
    </div>
    {% endblock %}    
</body>
</html>