<title>View Videos</title>
{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1><b>Video List</b></h1>
        </div>
    </div>

    {% for data in data_list %}
        <div class="row">
            <b>{{loop.index}}</b>
            {% for key in keyset %}
            {% if key == "thumbnail"%}
            <img src={{data[key]}}>
            {% else %}
            <div class="col">
                <b>{{key}} :</b> {{data[key]}}
            </div> 
            {% endif %}
            {% endfor %}
        </div>
    <br>
    {% endfor %}
</div>
{% endblock %}    
